.alerta {
    font-size: 13px;
    color: rgb(201, 5, 5);
}

.box-info {
    transform: translateY(30px);
    border-radius: 10px;
    position: absolute;
    z-index: 1;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.avatar:hover {
    background-color: rgb(50, 50, 50);
}

.avatar>span {
    color: white;
    font-size: 1.15rem;
}

.card {
    font-size: 1.1rem;
}

.table-quotation {
    overflow-x: scroll;
}
.table-quotation th{
    background-color: #EAEAEA;
}
#find_customer {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 5;
    justify-content: center;
    align-items: center;
}

#find_customer>.box {
    padding: 15px;
    background-color: #F4F5F9;
    width: 600px;
    z-index: 2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.table-find-customer {
    height: 300px;
    overflow-y: scroll;
}

.table-find-customer tbody tr {
    cursor: pointer;
}

.table-find-customer tbody tr:hover {
    background-color: rgb(234, 234, 234);
}

#find_car {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 5;
    justify-content: center;
    align-items: center;
}

#find_car .box {
    padding: 15px;
    background-color: #F4F5F9;
    width: 700px;
    z-index: 2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.car-box img {
    height: 120px;
    width: 188px;
    object-fit: cover;
}

.car-box>h6 {
    font-size: 1.001rem;
}

.group-autos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 400px;
    overflow-y: scroll;
    align-items: start;
}

.car-box {
    padding: 5px 10px;
    width: 200px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.car-box:hover {
    filter: brightness(1.05);
    border: 1px solid rgb(129, 129, 129);
}

.table-customer {
    height: 500px;
    width: 106%;
    overflow-y: auto;
}

.table-customer button {
    height: 45px;
}

#add_customer {
    display: none;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    justify-content: center;
    align-items: center;
}


#add_customer>.box {
    background-color: white;
    padding: 15px;
    width: 500px;
}

#edit_customer {
    display: flex;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    z-index: 20;
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    justify-content: center;
    align-items: center;
}

#edit_customer>.box {
    background-color: white;
    padding: 15px;
    width: 500px;
}

.icono-close {
    transform: scale(10.5);
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

.icono-close:hover {
    filter: brightness(1.1);
}

.icon {
    font-size: 30px;
    color: black;
    cursor: pointer;
}

.icon:hover {
    color: rgb(55, 55, 55);
}

.info-toast {
    padding: 20px 0px;
    text-align: center;
    position: fixed;
    margin-top: 20px;
    left: 0px;
    right: 0px;
    top: 0px;
    margin-left: auto;
    margin-right: auto;
    z-index: 4;
    width: 350px;
    background-color: #333333;
    color: white;
    animation: aparecer 0.3s normal;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

@keyframes aparecer {
    0% {
        margin-top: 0px;
    }

    100% {
        margin-top: 20px;
    }
}

.acordeon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    padding-bottom: 5px;
    margin-bottom: 15px;
    background-color: #eeeeee;
    cursor: pointer;
}

.acordeon i {
    transform: translateY(5px);
}

.acordeon:hover {
    background-color: #e0e0e0;
}

.acordeon-content {
    padding: 0px 5px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.acordeon-open {
    display: none;
}

.table-schedule {
    overflow: auto;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.table-schedule table {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: white;
}

.table-schedule table tr td {
    padding: 7px 7px;
    border-bottom: 1px solid #EBEBEB;
}


.table-schedule table tr th {
    background-color: #EAEAEA;
    padding: 10px 10px;
    border-bottom: 1px solid #EBEBEB;
}

.table-schedule thead tr {
    color: black;
}

.table-schedule table tr:hover {
    background-color: #f3f3f3;
}

.table-cost {
    background-color: white;
    color: black;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
}

.table-cost td {
    padding: 10px;
    align-items: start;
    border-bottom: 1px solid #EBEBEB;

}

.cell-tea {
    width: 28px;
    padding: 0px 0px;
    outline: none;
    border: none;
}

.cell-tea:focus {
    border-bottom: 1px solid black;
}

.cell-pg {
    outline: none;
    border: 1px solid white;
    appearance: none;
    padding: 0px 13px
}

.cell-pg:hover {
    padding: 1px 0px;
    border: 1px solid rgb(94, 94, 94);
    appearance: menulist;
}

.head-pg {
    cursor: pointer;
}

.head-pg:hover {
    background-color: #e0e0e0;
}

.box-pg {
    transform: translateY(-100px);
    width: 300px;
    position: absolute;
    background-color: #3D3D45;
    padding: 10px;
    display: none;
    z-index: 10;
    border-radius: 2px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}

.head-pg-span {
    padding: 13px;
}

.box-pg input {
    background: none;
    outline: none;
    margin: 2px;
    padding: 2px 2px;
    width: 100%;
    border: 1px solid white;
    color: white;
    text-align: center;
}

.box-pg select {
    outline: none;
    width: 100%;
    text-align: center;
}

.box-pg button {
    outline: none;
    width: 100%;
    border: none;
    margin-left: 2px;
    color: white;
    border-radius: 2px;
    padding: 5px 0px;
}

.box-pg .accept {
    background-color: #248046;
}

.box-pg .cancel {
    background-color: #DA373C;
}

.box-pg button:hover {
    filter: brightness(1.1);
}

.table-customer table {
    width: 100%;
    text-align: center;

}

.table-customer tr {

    border-bottom: 1px solid rgb(240, 240, 240);
}

.table-customer th {
    padding: 10px 5px;
}

.table-customer th {
    background-color: #EAEAEA;
}

.table-customer td {
    padding: 5px 0px;
}

.table-crud-quotation {
    max-height: 600px;
    overflow: auto;
}

.table-crud-quotation table {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 100%;
}

.table-crud-quotation td,
th {
    padding: 10px 0px;
}

.table-crud-quotation tr {
    border-bottom: 1px solid rgb(236, 236, 236);
}

.table-crud-quotation button {
    border: none;
    background: none;
    background-color: #007BFF;
    padding: 8px 7px;
    color: white;
    outline: none;
}

.table-crud-quotation button:hover {
    background-color: #016adb;
    color: white;
}

.car-selected {
    filter: brightness(1.05);
    border: 1px solid rgb(129, 129, 129);
}

.icon-currency {
    margin-top: 5px;
    margin-right: 5px;
    font-size: 20px;
}

.login-box {
    height: 100vh;
    background-image: url('../assets/main.png');
}

.box-registro {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    color: white;
    border-radius: 5px;
    box-shadow: 0px 3px 3px rgba(255, 255, 255, 0.2);
}

.box-registro h3 {
    color: white;
}

.box-registro input {
    outline: none;
    width: 100%;
    background: none;
    border: 1px solid white;
    padding: 7px;
    color: white;
    border-radius: 2px;
}

.box-login {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    color: white;
    border-radius: 5px;
    box-shadow: 0px 3px 3px rgba(255, 255, 255, 0.2);
}

.box-login h3 {
    color: white;
}

.box-login input {
    outline: none;
    width: 100%;
    background: none;
    border: 1px solid white;
    padding: 7px;
    color: white;
    border-radius: 2px;
}

.tarjeta {
    padding: 5px 25px;
    display: inline-block;
    background-color: white;
    font-weight: 400;
}

.tarjeta>.name {
    font-size: 13px;
    color: #525252;
}

.tarjeta>.quantity {
    font-weight: bold;
    font-size: 26px;
}

.box-out {
    display: none;
    position: absolute;
    width: 130px;
    overflow: hidden;
    background-color: white;
    transform: translateX(15px);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.box-out .item {
    padding: 10px 5px;
    cursor: pointer;
}

.box-out .item:hover {
    background-color: #1A82AE;
    color: white;
}

.box-chart {
    overflow-x: auto;
}

.form-search-quotation {
    overflow-x: auto;
}

.btn-primari {
    background-color: #007BFF;
    color: white;
}
.bg-primari {
    background-color: #007BFF;
    color: white;
}

.btn-primari:hover {
    color: white;
    background-color: #026de0;
}

.bg-darki {
    background-color: #333333;
}

.btn-successi {
    background-color: #4CAF50;
    color: white;
}

.btn-successi:hover {
    background-color: #4aa74d;
    color: white;
}