.alerta {
    font-size: 13px;
    color: rgb(201, 5, 5);
}

.box-info {
    transform: translateY(30px);
    border-radius: 10px;
    position: absolute;
    z-index: 1;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.avatar:hover {
    background-color: rgb(50, 50, 50);
}

.avatar>span {
    color: white;
    font-size: 1.15rem;
}

.card {
    font-size: 1.1rem;
}

.table-quotation {
    overflow-x: scroll;
}

#find_customer {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
    justify-content: center;
    align-items: center;
}

#find_customer>.box {
    padding: 15px;
    background-color: #F4F5F9;
    width: 600px;
    z-index: 2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.table-find-customer {
    height: 300px;
    overflow-y: scroll;
}

.table-find-customer tbody tr {
    cursor: pointer;
}

.table-find-customer tbody tr:hover {
    background-color: rgb(234, 234, 234);
}

#find_car {
    /* display: none; */
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#find_car .box {
    padding: 15px;
    background-color: #F4F5F9;
    width: 700px;
    z-index: 2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.car-box {
    padding: 5px 10px;
    width: 200px;
    background-color: white;
    margin-bottom: 5px;
}   
.car-box>img {
    height: 120px;
    width: 190px;
    object-fit: cover;
}
.car-box > h6{
    font-size: 1.001rem;
}
.group-autos{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 400px;
    overflow-y: scroll;
}